@font-face {
    font-family: 'TCCC';
    src: url(fontes/TCCC.ttf) format('truetype');
    font-weight: normal;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav { 
    display: flex;
    padding: 20px;
    padding-left: 430px;
    align-items: center;

}

nav>a {
    padding: 10px;
    font-family: 'TCCC';
    color: white;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

nav>a:hover {
    color: white;
    text-decoration: underline;
}

section {
    background-image: url(imagens/creations-rosalia.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: scroll;
    font-style: bold;
    width: 100%;
    min-height: 300px;
    height: 733px;
}

#conteudo{
    color: white;
    font-family: 'TCCC';
    font-size: 28px;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-125%, -90%);

}
#conteudo>p{
    font-size: 18px;

}

.fim{
    padding-left:300px;
   /* align-self: flex-end; <<tentei usar para deixar o botão no fim e acabei não conseguindo */ 
}

.button1 {
    font-family: 'TCCC';
    font-size: 14px;
    background-color: transparent; 
    border-radius: 60px;
    border: 2px solid gray;
    color: white;
    font-weight: bold;
    padding: 15px 40px;
    text-decoration: none;
}

.button2 {
    font-family: 'TCCC';
    font-size: 14px;
    background-color: black; 
    border-radius: 40px;
    color: white;
    font-style: bolder;
    padding: 15px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


article{
    height: 400px;
    width: auto;
}
